<a href="https://colab.research.google.com/github/JPablo180/NominaADT/blob/main/ArraysADT_EDD1310_V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
class Array:
  def __init__ (self, tam):
    self.__tamano = tam
    self.__data = [ 0 for x in range(self.__tamano) ]
  def to_string( self ):
    info = ""
    for dato in self.__data:
      info = info + str(dato) + " | "
    return info

  def get_item(self , index):
    return self.__data[index]


  def get_lenght(self ):
    return len( self.__data)

  def set_item(self , dato , index ):
    # Hace falta revisar los limites
    if index >= 0 and index < self.get_lenght():
      self.__data[index] = dato
    else:
      print("Error : Indice fuera de rango")

  def clear(self, dato):
    self.__data = [ dato for x in range(self.__tamano) ]


  

ejemplo = Array(20)
print( ejemplo.to_string())
print(ejemplo.get_item(2))
print(ejemplo.set_item(45 , 2))
print(ejemplo.to_string())
ejemplo.clear(4)
print(ejemplo.to_string())
print(ejemplo.get_lenght())

0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 |
0
None
0 | 0 | 45 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 | 0 |
4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 | 4 |
20

In [16]:
sueldo_base = 100
anio = 2019
anti = 2
prestacion = 100*(2*0.03)
print(sueldo_base + prestacion)

106.0

In [17]:
lista  = [ 3 * x for x in range(10)]
print(lista)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [18]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [19]:
archivo = open('junio.dat' , 'rt' , encoding='latin-1' )
print(archivo.readlines())

['numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso\n', '2345,CARLOS,PEREZ,CASTILLO,0,9850,2017\n', '5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020\n', '5345,JESUS,MARTIN,SANTOS,2,9850,2016\n', '3267,DAVID,JIMENEZ,LOZANO,2,9850,2017\n', '8765,PEDRO,RUIZ,GUERRERO,2,9850,2017\n', '5454,DANIEL,HERNANDEZ,CANO,3,9850,2018\n', '3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018\n', '3445,MARIA,MORENO,MENDEZ,1,9850,2018\n', '9088,ALBERTO,MU\x84OZ,CRUZ,1,9850,2017\n', '8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017\n', '6767,FERNANDO,ROMERO,HERRERA,4,9850,2019\n', '5654,PABLO,ALONSO,GALLEGO,1,9850,2019\n', '4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020\n', '2232,RAMON,NAVARRO,LEON,1,9850,2016']

In [20]:
class Trabajador:
    def __init__( self , nt, nom, pat, mat, he, sb, ai ):
        self.__numero_trabajador = nt 
        self.__nombre_trabajador = nom
        self.__apellido_paterno = pat
        self.__apellido_materno = mat
        self.__horas_extras = he
        self.__sueldo_base = sb
        self.__anio_ingreso = ai 
      # asi para todos los atributos 

      # aqui van todos los métodos de acceso (get y set)
    def set_numero_trabajador( self , nt ):
        self.__numero_trabajador = nt 
    def get_numero_trabajador(self):
        return self.__numero_trabajador 

    def set_nombre_trabajador( self , nom ):
        self.__nombre_trabajador = nom 
    def get_nombre_trabajador(self):
        return self.__nombre_trabajador 

    def set_apellido_paterno( self , pat ):
        self.__apellido_paterno = pat
    def get_apellido_paterno(self):
        return self.__apellido_paterno 

    def set_apellido_materno( self , mat ):
        self.__apellido_materno = mat 
    def get_apellido_materno(self):
        return self.__apellido_materno 

    def set_horas_extras( self , he ):
        self.__horas_extras = he 
    def get_horas_extras(self):
        return self.__horas_extras

    def set_sueldo_base( self , hb ):
        self.__horas_base = sb
    def get_sueldo_base(self):
        return self.__sueldo_base  

    def set_anio_ingreso( self , ai ):
        self.__anio_ingreso = ai 
    def get_anio_ingreso(self):
        return self.__anio_ingreso                              
        
        # metodos de uso general --> metodos que hacen calculos de la logica de negocio
    def calcular_sueldo_mensual(self):
      anios = 2021 - self.get_anio_ingreso()
      sueldo = self.get_sueldo_base()

      # agregar horas extras
      sueldo += self.get_horas_extras() * 276.5

      # agregar prestacion de antiguedad 
      sueldo = sueldo + ( sueldo * anios * 0.03)
      return sueldo


    def calcular_antiguedad(self):
      return 2021 - self.get_anio_ingreso()

    def mas_antiguo(self):
     pass
    


    def to_string(self):
      return "No. Trabajador: "+ str (self.__numero_trabajador) + " | Nombre: " + self.__nombre_trabajador + " "+ self.__apellido_paterno + " " + self.__apellido_materno + " | Sueldo: $ " + str (self.calcular_sueldo_mensual()) + " | Antiguedad: " + str (self.calcular_antiguedad()) + " años"

    
emp = Trabajador(2345,'CARLOS','PEREZ','CASTILLO', 1,9850,2017)
print(emp.to_string())

No. Trabajador: 2345 | Nombre: CARLOS PEREZ CASTILLO | Sueldo: $ 11341.68 | Antiguedad: 4 años

In [23]:
class NominaADT:
  def __init__( self , ruta_archivo ):
      # abir el archivo y determinar el numero de empleados (14)---> num_emp
      archivo = open(ruta_archivo , 'rt' , encoding='latin-1' )
      empleados = archivo.readlines()
      del empleados [0]
      for index in range (len(empleados)):
          empleados[index] = empleados[index].strip().split(',')
      self.__data = Array( len(empleados) )
      cont = 0

      for emp in empleados:
          tmp = Trabajador( int(emp[0]), emp[1], emp[2], emp[3], int(emp[4]), int(emp[5]), int(emp[6]) )
          self.__data.set_item( tmp, cont )
          cont += 1


  def calcular_sueldos(self):
    # iterar sobre el array y hacer el calculo de sueldos
    for index in range(self.__data.get_lenght()):
        print(self.__data.get_item(index).to_string() )


  def buscar_mas_antiguo(self):
    #iterar y buscara en el array el de mayor antiguedad de puesto 
    mayor_antiguedad = self.__data.get_lenght()
    menor_antiguedad = self.__data.get_lenght()
    for index in range (self.__data.get_lenght()):
      if (menor_antiguedad > mayor_antiguedad):                                   #Lo intente pero no pude
          mayor_antiguedad = menor_antiguedad
 
   

  def buscar_menor_antiguedad(self):
    #iterar y buscar en el array el de menor antiguedad en el puesto
    menor_antiguedad = self.__data.get_lenght()
    mayor_antiguedad = self.__data.get_lenght()
    for index in range (self.__data.get_lenght()):
      if (mayor_antiguedad > menor_antiguedad):
          menor_antiguedad = mayor_antiguedad




ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()
ejemplo.buscar_mas_antiguo()
ejemplo.buscar_menor_antiguedad()

No. Trabajador: 2345 | Nombre: CARLOS PEREZ CASTILLO | Sueldo: $ 11032.0 | Antiguedad: 4 años
No. Trabajador: 5754 | Nombre: ANGEL GOMEZ GARRIDO | Sueldo: $ 10430.295 | Antiguedad: 1 años
No. Trabajador: 5345 | Nombre: JESUS MARTIN SANTOS | Sueldo: $ 11963.45 | Antiguedad: 5 años
No. Trabajador: 3267 | Nombre: DAVID JIMENEZ LOZANO | Sueldo: $ 11651.36 | Antiguedad: 4 años
No. Trabajador: 8765 | Nombre: PEDRO RUIZ GUERRERO | Sueldo: $ 11651.36 | Antiguedad: 4 años
No. Trabajador: 5454 | Nombre: DANIEL HERNANDEZ CANO | Sueldo: $ 11640.655 | Antiguedad: 3 años
No. Trabajador: 3456 | Nombre: ALEJANDRO DIAZ PRIETO | Sueldo: $ 11339.27 | Antiguedad: 3 años
No. Trabajador: 3445 | Nombre: MARIA MORENO MENDEZ | Sueldo: $ 11037.885 | Antiguedad: 3 años
No. Trabajador: 9088 | Nombre: ALBERTO MUOZ CRUZ | Sueldo: $ 11341.68 | Antiguedad: 4 años
No. Trabajador: 8877 | Nombre: RAFAEL ALVAREZ FLORES | Sueldo: $ 11651.36 | Antiguedad: 4 años
No. Trabajador: 6767 | Nombre: FERNANDO ROMERO HERRERA | Sueldo: $ 11613.36 | Antiguedad: 2 años
No. Trabajador: 5654 | Nombre: PABLO ALONSO GALLEGO | Sueldo: $ 10734.09 | Antiguedad: 2 años
No. Trabajador: 4323 | Nombre: JORGE GUTIERREZ MARQUEZ | Sueldo: $ 10715.09 | Antiguedad: 1 años
No. Trabajador: 2232 | Nombre: RAMON NAVARRO LEON | Sueldo: $ 11645.475 | Antiguedad: 5 años